@import "tailwindcss";


div[image="coffee1.webp"] {
    background-image: url("/images/coffee1.webp");
}

div[image="coffee2.webp"] {
    background-image: url("/images/coffee2.webp");
}

div[image="coffee3.webp"] {
    background-image: url("/images/coffee3.webp");
}
